
<%= form_with(model: @article, local: true) do |f| %>
<div>
       <p>タイトル: <%= f.text_field :title %></p>
  </div>

<div>
      <p>コンテンツ: <%= f.text_field :content %></p>
  </div>  
<div>
    <%= f.submit "更新" %>
  </div>
<% end %>  
