<h1>一覧ページ</h1>
<% @articles.each do |article| %>
  <div>
    <p>タイトル: <%= article.title %></p>
    <p>投稿内容: <%= article.content %></p>
  </div>
  <%= link_to "詳細", article_path(article)%>
  <hr> <!-- 水平線で区切る -->
<% end %>

<%= link_to "登録ページ", articles_new_path %>
